body {
  font-size: 30px;
  background: black;
  color: white;
}

.container {
  margin: 0;
}

h1, h2 {
  text-decoration: underline;
}

.hide {
  display: none;
}

.enemy img {
  background: red;
  border: red 1px solid;
}

.defender img {
  background: blue;
  border: blue 1px solid;
}

#selected-character img {
  background: green;
  border: green 1px solid;
}